.composition {
  position: relative;

  @include respond(tab-port) {
    height: 50rem;
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s;
    // object-fit: contain;
    outline-offset: 2rem;

    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
      width: 55%;
    }

    &--p1 {
      left: 20%;
      top: 14rem;
      height: 218.625px;
      // width: 55%;
      transform: translateY(5rem);
      @include respond(tab-land) {
        height: 153px;
      }
      @include respond(tab-port) {
        height: 187px;
      }
      @include respond(phone) {
        height: 102px;
      }
    }
    &--p2 {
      right: 0;
      top: 6rem;
      height: 218.625px;
      // width: 55%;
      transform: translateX(5rem);
      @include respond(tab-land) {
        height: 171px;
        right: 2rem;
      }
      @include respond(tab-port) {
        height: 187px;
      }
      @include respond(phone) {
        height: 102px;
      }
    }
    &--p3 {
      left: 0;
      top: 2rem;
      // width: 55%;
      transform: translateX(-5rem);
      @include respond(tab-land) {
        left: 2rem;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-tertiary;
      z-index: 20;
    }
  }
  &:hover .composition__photo:not(:hover) {
    filter: blur(1.5px);
  }
}
