// Colors
$color-primary: #aadcec;
$color-primary-light: #b4e0ee;
$color-primary-dark: #8bcee5;
$color-secondary: #7f00e0;
$color-secondary-light: #8e00fa;
$color-secondary-dark: #7400cc;
$color-tertiary: #73bbc5;
$color-background: #f4f9fc;
$color-background-dark: #abd1e8;

$color-text-primary: #0f1b61;
$color-text-primary-light: #bdc5f5;
$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-invalid: #ff7730;

$color-grey: #919795;
$color-hr: #b5bcd2;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-border: 2rem;
$header-height: 9rem;
$grid-width: 114rem;
